<div id="<%= dom_id cocktail %>">
  <p>
    <strong>Drink type:</strong>
    <%= cocktail.drink_type %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= cocktail.ingredients %>
  </p>

  <p>
    <strong>Alcohol content:</strong>
    <%= cocktail.alcohol_content %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= cocktail.calories %>
  </p>

</div>
